/* id-based rule */
#bold { 
	font-weight: bold;
}
/* class-based rule */
.red { 
	color: red;
}

/* element-based or tag-based rule */
p {
	font-size: 1.2em;
	font-family: Georgia, serif;
}

ul li {

font-size: 20px;

}

body {

background-color: lightblue;
	
}

a {
	
	color: grey;
	
}
